[application]
name = Velja

# Browser picker rules + app defaults (sandboxed prefs)
[configuration_files]
Library/Containers/com.sindresorhus.Velja/Data/Library/Preferences/com.sindresorhus.Velja.plist
